//General typography styles

$html_family: Arial, Helvetica, sans-serif;

$default_html_bg_color: black;

$default_html_font_size: 75px;

$album_font_color: lightgray;

$spacing: 30px;

//Headers styles

$h1_font_color: red;

$h1_font_text_shadow: 2px 2px 2px yellowgreen;

$h2_font_color: orange;

$h2_font_text_shadow: 4px 4px 4px royalblue;

$headers_font_style: italic;

//Misc

$album_box_shadow: 1px 1px 5px  white;

$album_square_side_length: 250px;



